{:deps  {org.clojure/clojure {:mvn/version "1.11.1"}}
 :paths ["src"]

 :aliases
 {:dev
  {:extra-deps  {dev.onionpancakes/serval-core  {:git/url   "https://github.com/onionpancakes/serval"
                                                 :git/sha   "865e3c7294503d0c1ec85b114e13cdf17b2903d3"
                                                 :deps/root "modules/serval-core"}
                 dev.onionpancakes/serval-jetty {:git/url   "https://github.com/onionpancakes/serval"
                                                 :git/sha   "865e3c7294503d0c1ec85b114e13cdf17b2903d3"
                                                 :deps/root "modules/serval-jetty"}}
   :extra-paths ["test"]}

  :run-tests
  {:extra-deps  {dev.onionpancakes/serval-core        {:git/url   "https://github.com/onionpancakes/serval"
                                                       :git/sha   "865e3c7294503d0c1ec85b114e13cdf17b2903d3"
                                                       :deps/root "modules/serval-core"}
                 dev.onionpancakes/serval-jetty       {:git/url   "https://github.com/onionpancakes/serval"
                                                       :git/sha   "865e3c7294503d0c1ec85b114e13cdf17b2903d3"
                                                       :deps/root "modules/serval-jetty"}
                 io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
   :extra-paths ["test"]
   :exec-fn     cognitect.test-runner.api/test
   :exec-args   {:dirs     ["test"]
                 :patterns [".*test.*"]}}}}
